name: Publish to TestPyPI

on:
  push:
    tags:
      - 'v*-rc*'

jobs:
  build-and-publish-testpypi:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Build sdist and wheel
        run: |
          python -m ensurepip --upgrade
          python -m pip install -U build
          python -m build
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
          repository-url: https://test.pypi.org/legacy/

